<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Прикладной NLP</h1>
        <p>Образовательный ресурс для специалистов в области NLP</p>
        <nav>
        </nav>
    </header>     

    <div class="content">
        {{ content }}
    </div>

    <aside class="sidebar">
        <nav>
            <h3>Информация о портале</h3>
            <ul>
                <li><a href="/">Главная страница</a></li>
            </ul>
            <h3>Курс</h3>
            <ul>
                <li><a href="/course/plan/">План курса</a></li>
                <li><a href="/course/materials/">Материал</a></li>
                <li><a href="/course/tasks/">Задачи внутри глав</a></li>
                <li><a href="/course/homework/">Домашние задания</a></li>
                <li><a href="/course/projects/">Проекты</a></li>
            </ul>
            <h3>Дополнительный материал</h3>
            <ul>
                <li><a href="/extra_material/research_papers/">Научные статьи</a></li>
                <li><a href="/extra_material/company_cases/">Кейсы компаний</a></li>
                <li><a href="/extra_material/kaggle_competitions/">Разборы Kaggle соревнований</a></li>
                <li><a href="/extra_material/practice_resources/">Ресурсы для практики</a></li>
                <li><a href="/extra_material/it_roadmap/">Roadmap IT специалиста</a></li>
                <li><a href="/extra_material/job_search_resources/">Набор для поиска работы</a></li>
                <li><a href="/extra_material/meetups_and_conferences/">Выступления на конференциях</a></li>
                <li><a href="/extra_material/channels/">Медиа</a></li>
            </ul>
        </nav>
    </aside>

    <footer>
        <p>By Tagir Khairutdinov x Ilia Tarasov.</p>
        <p>© Copyright 2023.</p>
    </footer>
</body>

</html>
