<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прикладной NLP</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <section class="hero">
        <h1>Some text</h1>
        <p>Some text</p>
    </section>

    <section class="features">
        <div class="feature">
            <h2>Some text</h2>
            <p>Some text</p>
        </div>
        <div class="feature">
            <h2>Some text</h2>
            <p>Some text</p>
        </div>
        <div class="feature">
            <h2>Some text</h2>
            <p>Some text</p>
        </div>
    </section>

    <aside class="sidebar">
        <nav>
            <h3>Информация о портале</h3>
            <ul>
                <li><a href="/">Главная страница</a></li>
            </ul>
            <h3>Курс</h3>
            <ul>
                <li><a href="/course/plan/">План курса</a></li>
                <li><a href="/course/materials/">Материал по темам</a></li>
                <li><a href="/course/articles/">Научные статьи по темам</a></li>
                <li><a href="/course/tasks/">Задачи внутри глав</a></li>
                <li><a href="/course/homework/">Домашние задания</a></li>
                <li><a href="/course/projects/">Проекты</a></li>
            </ul>
            <h3>Дополнительный материал</h3>
            <ul>
                <li><a href="/extra_material/research_papers/">Научные статьи</a></li>
                <li><a href="/extra_material/company_cases/">Кейсы компаний</a></li>
                <li><a href="/extra_material/kaggle_competitions/">Разборы Kaggle соревнований</a></li>
                <li><a href="/extra_material/practice_resources/">Ресурсы для практики (Kaggle)</a></li>
                <li><a href="/extra_material/it_roadmap/">Roadmap IT специалиста</a></li>
                <li><a href="/extra_material/job_search_resources/">Ресурсы для поиска работы</a></li>
                <li><a href="/extra_material/job_search_articles/">Статьи для поиска работы</a></li>
                <li><a href="/extra_material/meetups_and_conferences/">Выступления на митапах и конференциях</a></li>
                <li><a href="/extra_material/channels/">Каналы</a></li>
                <li><a href="/extra_material/vlogs/">Блоги</a></li>
            </ul>
        </nav>
    </aside>

    <footer>
        <p>&copy; Some text</p>
    </footer>
</body>

</html>
